h1 {
    color: green;
}

h2 {
    color: C71585;
}

h3 {
    color: blue;
}

h4 {
    color: black;
    border: 5px solid;
    border-color: bb0a1e;
    border-width: thick;
    width: 9%
}

body {
    background-image: linear-gradient(#800020, #AFEEEE);
}

a {
    color: black;
}

p {
    color: white;
}

li {
    color: white;
}

#para2 {
    color: bb0a1e;
}
