h1 {
    color: green;
    margin: auto;
    padding: .3em
}

h2 {
    color: C71585;
}

h3 {
    color: blue;
}

h4 {
    color: black;
    border: 5px solid;
    border-color: bb0a1e;
    border-width: thick;
    width: 9%
}

body {
    background-image: linear-gradient(#800020, #AFEEEE);
    font-family: inherit;
}

a {
    color: black;
}

p {
    color: powderblue;
}

li {
    color: white;
}

#para2 {
    color: bb0a1e;
}

dt {
    color: powderblue;
}

dd {
    color: white;
}

td {
    color: white;
}

th {
    color: white;
}

/* mouse over link */
a:hover {
    color: blue;
}

.center {
    text-align: center;
}
