h1 {
    color: green;
    margin: auto;
    padding: .3em
}

h2 {
    color: C71585;
}

h3 {
    color: blue;
}

h4 {
    color: black;
    border: 5px solid;
    border-color: red;
    border-width: thick;
    width: 90px
}

body {
    background-image: linear-gradient(#800020, #AFEEEE);
    font-family: inherit;
}

a {
    color: black;
}

p {
    color: powderblue;
}

li {
    color: white;
}

#nav {
    color: darkred;
}

dt {
    color: powderblue;
}

dd {
    color: white;
}

dt {
    color: deepskyblue;
}

/* mouse over link */
a:hover {
    color: blue;
}

.center {
    text-align: center;
}

.img1 {
   float: left;
}
